<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <footer class="ILKEAfooter">
        <div class="footerLeft">
            <p class="title">ILKEA Family</p>
            <p class="smallerText">You don’t need to be exclusive to join ILKEA Family. <br> 
            It’s a club for everyone who loves rewards, discounts, <br>
            inspirations and surprises throughout the year.</p>
            <a href="../index/member.html" role="button" class="smallerText footerButton">Join Now</a>
        </div>

        <div class="footerMiddle">
            <a href= "../index/about.html" class="headerText">About Us</a>
            <a href= "../index/contact.html" class="headerText">Contact Us</a>
            <a href= "../index/gallery.html" class="headerText">ILKEA Gallery</a>
        </div>

        <div class="footerRight">
            <div class="company">
                <img src="../assets/footer/copyright.svg" alt="" class="copyright">
                <p class="title">PT. ILKEA Sinar Abadi 2010-2023</p>
            </div>
            <div class="social">
                <img src="../assets//footer/FB.svg" alt="" class="socialpicture">
                <img src="../assets//footer/IG.svg" alt="" class="socialpicture">
                <img src="../assets//footer/X.svg" alt="" class="socialpicture">
                <img src="../assets//footer/YT.svg" alt="" class="socialpicture">
                <img src="../assets//footer/tiktok.svg" alt="" class="socialpicture">
            </div>
        </div>
            
    </footer>
</body>
</html>