<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <header class="ILKEAheader">
        <div class="upperHeader">
            <img src="../assets/header/3bar.svg" alt="" class="picture">
            <a href="../index/home.html"><img src="../assets/header/ILKEA.svg" alt="" class="logo"></a>
            <div class="searchBar">
                <img src="../assets/header/search.svg" alt="" class="picture">
                <p class="searchText">Search for something..</p>
            </div>
            <div class="login">
                <a href= "../index/member.html"class="headerText">
                    <img src="../assets/header/user.svg" alt="" class="picture">
                    Hej! Log In or Sign Up!
                </a>
            </div>
            <img src="../assets/header/bag.svg" alt="" class="picture">
            <img src="../assets/header/heart.svg" alt="" class="picture">
            
        </div>
        <div class="lowerHeader">
            <a href="../index/gallery.html" class="headerText">Products</a>
            <p class="headerText">Rooms</p>
        </div>
    </header>
    
</body>
</html>